# Criando um Dataframe a partir de um Dicionário

In [8]:
import pandas as pd

In [9]:

df = {
    'Produto': ['Camisa', 'Shorts', 'Calça Jeans', 'Tênis', 'Relógio', 'Boné'],
    'Quantidade': [20, 25, 15, 30, 50, 27],
    'Preço': [39.99, 29.99, 120.00, 99.99, 79.99, 39.99]
}

In [10]:
estoque_loja = pd.DataFrame(df)

In [12]:
estoque_loja['Valor Total'] = estoque_loja['Quantidade'] * estoque_loja['Preço']
display(estoque_loja)

       Produto  Quantidade   Preço  Valor Total
0       Camisa          20   39.99       799.80
1       Shorts          25   29.99       749.75
2  Calça Jeans          15  120.00      1800.00
3        Tênis          30   99.99      2999.70
4      Relógio          50   79.99      3999.50
5         Boné          27   39.99      1079.73

In [13]:
valor_total_produtos = estoque_loja['Valor Total'].sum()

In [14]:
print(f'\nValor total dos produtos: R${valor_total_produtos:.2f}')

Valor total dos produtos: R$11428.48