# Dataframe com Listas aninhadas

In [1]:
import pandas as pd

In [2]:
notas = [
    [8.5, 9.0, 9.5],
    [9.5, 10, 8.8],
    [7.0, 6.5, 8.7],
    [10, 8.8, 7.5],
    [5.5, 6.7, 7]
]

In [3]:
alunos = ['Ana', 'Carla', 'Júlia', 'Mário', 'Carlos']

In [11]:
notas_df = pd.DataFrame(notas, columns=['1ª Prova', '2ª Prova', '3ª Prova'], index=alunos)

display(notas_df)

        1ª Prova  2ª Prova  3ª Prova
Ana          8.5       9.0       9.5
Carla        9.5      10.0       8.8
Júlia        7.0       6.5       8.7
Mário       10.0       8.8       7.5
Carlos       5.5       6.7       7.0

### Adicionando a média no Dataframe

In [10]:
notas_df['Média'] = notas_df.mean(axis=1).round(1)

display(notas_df)

        1ª Prova  2ª Prova  3ª Prova  Média
Ana          8.5       9.0       9.5    9.0
Carla        9.5      10.0       8.8    9.4
Júlia        7.0       6.5       8.7    7.4
Mário       10.0       8.8       7.5    8.8
Carlos       5.5       6.7       7.0    6.4