# Definindo um índice personalizado

In [2]:
import pandas as pd

In [1]:
dados = {
    'Produto': ['Camisa', 'Shorts', 'Calça', 'Tênis', 'Relógio', 'Boné'],
    'Quantidade': [20, 25, 15, 30, 50, 46],
    'Preço': [39.99, 29.99, 120.00, 99.99, 79.99, 39.99]
}

In [3]:
estoque_loja = pd.DataFrame(dados)

In [4]:
estoque_loja.set_index('Produto', inplace=True)

display(estoque_loja)

         Quantidade   Preço
Produto
Camisa           20   39.99
Shorts           25   29.99
Calça            15  120.00
Tênis            30   99.99
Relógio          50   79.99
Boné             46   39.99

### Acessando o produto diretamente

In [10]:
print(estoque_loja.loc['Boné'])

Quantidade    46.00
Preço         39.99
Name: Boné, dtype: float64