# Uso avançado do .loc e .iloc

1. **Filtrando linhas com condições**

In [1]:
import pandas as pd

In [ ]:
dados = {
    'Produtos': ['Camisa', 'Calça Jeans', 'Tênis', 'Casaco', 'Boné'],
    'Categoria': ['Vestuário', 'Vestuário', 'Calçados', 'Vestuário', 'Acessórios'],
    'Quantidade': [50, 30, 20, 15, 60],
    'Preço': [29.99, 89.99, 120.00, 150.00, 25.00]
}

In [11]:
estoque = pd.DataFrame(dados)

display(estoque)

      Produtos   Categoria  Quantidade   Preço
0       Camisa   Vestuário          50   29.99
1  Calça Jeans   Vestuário          30   89.99
2        Tênis    Calçados          20  120.00
3       Casaco   Vestuário          15  150.00
4         Boné  Acessórios          60   25.00

In [6]:
produtos_acima_de_50 = estoque.loc[estoque['Preço'] > 50]

display(produtos_acima_de_50)

      Produtos  Categoria  Quantidade   Preço
1  Calça Jeans  Vestuário          30   89.99
2        Tênis   Calçados          20  120.00
3       Casaco  Vestuário          15  150.00

_Neste exemplo, nós utilizamos o .loc para filtrar linhas com condições, ou seja, produtos com preço acima de 50.00._

2. **Selecionando linhas e colunas específicas com .loc e .iloc**

_Usamos o .loc para selecionar apenas "Produtos" e "Preço"._

In [8]:
precos_produtos = estoque.loc[:, ['Produtos', 'Preço']]
display(precos_produtos)

      Produtos   Preço
0       Camisa   29.99
1  Calça Jeans   89.99
2        Tênis  120.00
3       Casaco  150.00
4         Boné   25.00

_Usamos o .iloc para selecionar as duas primeiras linhas e as duas primeiras colunas._

In [10]:
primeiras = estoque.iloc[:2, :2]
display(primeiras)

      Produtos  Categoria
0       Camisa  Vestuário
1  Calça Jeans  Vestuário

3. **Atualizando valores com .loc**

In [13]:
estoque.loc[estoque['Produtos'] == 'Casaco', 'Preço'] = 140.00

display(estoque)

      Produtos   Categoria  Quantidade   Preço
0       Camisa   Vestuário          50   29.99
1  Calça Jeans   Vestuário          30   89.99
2        Tênis    Calçados          20  120.00
3       Casaco   Vestuário          15  140.00
4         Boné  Acessórios          60   25.00

In [14]:
estoque.loc[estoque['Produtos'] == 'Tênis', 'Quantidade'] = 25

display(estoque)

      Produtos   Categoria  Quantidade   Preço
0       Camisa   Vestuário          50   29.99
1  Calça Jeans   Vestuário          30   89.99
2        Tênis    Calçados          25  120.00
3       Casaco   Vestuário          15  140.00
4         Boné  Acessórios          60   25.00

_Nestes exemplos, valores como o preço do casaco e a quantidade de tênis foram modificados._