### Valores Ausentes (Missing Values)

1. .isna() e .notna()

_O uso do .isna() retorna um Dataframe booleano indicando **True** para valores ausentes._

In [8]:
import pandas as pd
import numpy as np

In [9]:
dados = {
    'Produto': ['Camisa', 'Calça Jeans', 'Tênis', 'Casaco', 'Boné'],
    'Quantidade': [50, 30, np.nan, 15, 60],
    'Preço': [29.99, 89.99, 120.00, np.nan, 25.00]
}

In [10]:
estoque_df = pd.DataFrame(dados)

display(estoque_df.isna())

   Produto  Quantidade  Preço
0    False       False  False
1    False       False  False
2    False        True  False
3    False       False   True
4    False       False  False

_O uso do .notna() retorna **True** para valores não ausentes._

In [11]:
display(estoque_df.notna())

   Produto  Quantidade  Preço
0     True        True   True
1     True        True   True
2     True       False   True
3     True        True  False
4     True        True   True

2. Contando valores ausentes

_Com o uso do .isna().sum(), podemos contar o número de valores ausentes em cada coluna._

In [16]:
print(estoque_df.isna().sum())

Produto       0
Quantidade    1
Preço         1
dtype: int64

3. Removendo valores ausentes

_Usamos o .dropna() para remover linhas ou colunas com valores ausentes._

_Nesse exemplo abaixo, iremos remover linhas com valores ausentes._

In [18]:
estoque_limpo = estoque_df.dropna()

display(estoque_limpo)

       Produto  Quantidade  Preço
0       Camisa        50.0  29.99
1  Calça Jeans        30.0  89.99
4         Boné        60.0  25.00

_Nesse exemplo abaixo, iremos remover as colunas com valores ausentes._

In [24]:
estoque_limpo = estoque_df.dropna(axis=1)

display(estoque_limpo)

       Produto
0       Camisa
1  Calça Jeans
2        Tênis
3       Casaco
4         Boné

4. Preenchendo valores ausentes

_Usamos o .fillna() para preencher valores ausentes com um valor específico._

_Nesse exemplo abaixo, iremos preencher valores ausentes na coluna 'Quantidade' com 0, e preencher valores ausentes na coluna 'Preço' com a média._

In [30]:
estoque_df['Quantidade'] = estoque_df['Quantidade'].fillna(0)

media_preco = estoque_df['Preço'].mean()
estoque_df['Preço'] = estoque_df['Preço'].fillna(media_preco)

display(estoque_df)

       Produto  Quantidade    Preço
0       Camisa        50.0   29.990
1  Calça Jeans        30.0   89.990
2        Tênis         0.0  120.000
3       Casaco        15.0   66.245
4         Boné        60.0   25.000