### Renomeando colunas e índices _.rename()_

_Colunas_

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Produto': ['Camisa', 'Shorts', 'Tênis'],
    'Preço': [39.99, 29.99, 120.00],
    'Quantidade': [10, 20, 15]
})

In [6]:
df_renomeando_colunas = df.rename(columns={'Preço': 'Valor', 'Quantidade': 'Estoque'})

In [7]:
print('Antes:')
display(df)
print('Depois:')
display(df_renomeando_colunas)

Antes:

  Produto   Preço  Quantidade
0  Camisa   39.99          10
1  Shorts   29.99          20
2   Tênis  120.00          15

Depois:

  Produto   Valor  Estoque
0  Camisa   39.99       10
1  Shorts   29.99       20
2   Tênis  120.00       15

_Índices_

In [8]:
df_renomeando_indices = df.rename(index={0: '1º', 1: '2º', 2: '3º'})

display(df_renomeando_indices)

   Produto   Preço  Quantidade
1º  Camisa   39.99          10
2º  Shorts   29.99          20
3º   Tênis  120.00          15

_Renomeando com o atributo **columns** (Nesse caso, você irá alterar diretamente os nomes das colunas)_

In [11]:
df.columns = ['Item', 'Valor', 'Estoque']

display(df)

     Item   Valor  Estoque
0  Camisa   39.99       10
1  Shorts   29.99       20
2   Tênis  120.00       15