# Ordenação e classificação de dados

1. _Ordenação com **sort_values**_ -> Ordena os dados em um Dataframe ou Series de forma crescente ou decrescente com base em uma ou mais colunas.

**Ordem crescente**

In [1]:
import pandas as pd

In [6]:
df = pd.DataFrame({
    'Produto': ['Caderno', 'Lápis', 'Caneta', 'Borracha', 'Corretivo'],
    'Preço': [35.99, 2.99, 5.99, 1.99, 4.99]
})

In [7]:
preco_ordenado_df = df.sort_values(by='Preço')

display(preco_ordenado_df)

     Produto  Preço
3   Borracha   1.99
1      Lápis   2.99
4  Corretivo   4.99
2     Caneta   5.99
0    Caderno  35.99

**Ordem decrescente**

In [8]:
preco_ordem_decres_df = df.sort_values(by='Preço', ascending=False)

display(preco_ordem_decres_df)

     Produto  Preço
0    Caderno  35.99
2     Caneta   5.99
4  Corretivo   4.99
1      Lápis   2.99
3   Borracha   1.99

**Ordenação por múltiplas colunas**

In [9]:
df['Estoque'] = [30, 40, 70, 10, 20]

In [10]:
df_multiplas = df.sort_values(by=['Estoque', 'Preço'], ascending=[True, False])

display(df_multiplas)

     Produto  Preço  Estoque
3   Borracha   1.99       10
4  Corretivo   4.99       20
0    Caderno  35.99       30
1      Lápis   2.99       40
2     Caneta   5.99       70

2. _Ordenação com **sort_index**_ -> Método utilizado para reorganizar os dados com base no índice do Dataframe ou Series.

Ordenação crescente pelo índice

In [19]:
# dataframe com índice desordenado
desordenado_df = df.sample(frac=1, random_state=42) # embaralha as linhas
print('Antes da ordenação:')
display(desordenado_df)

Antes da ordenação:

     Produto  Preço  Estoque
1      Lápis   2.99       40
4  Corretivo   4.99       20
2     Caneta   5.99       70
0    Caderno  35.99       30
3   Borracha   1.99       10

In [20]:
# ordenando o df pelo índice
indice_ordenado_df = desordenado_df.sort_index()
print('Após ordernação pelo índice:')
display(indice_ordenado_df)

Após ordernação pelo índice:

     Produto  Preço  Estoque
0    Caderno  35.99       30
1      Lápis   2.99       40
2     Caneta   5.99       70
3   Borracha   1.99       10
4  Corretivo   4.99       20

Ordenação decrescente pelo índice

In [22]:
indice_decres_df = desordenado_df.sort_index(ascending=False)

display(indice_decres_df)

     Produto  Preço  Estoque
4  Corretivo   4.99       20
3   Borracha   1.99       10
2     Caneta   5.99       70
1      Lápis   2.99       40
0    Caderno  35.99       30

3. _Classifição com **rank**_ -> Rank é um método que atribui um ranking aos valores de uma coluna ou Series com base em seu tamanho.

Ranking simples

In [24]:
df['Ranking'] = df['Preço'].rank()

display(df)

     Produto  Preço  Estoque  Ranking
0    Caderno  35.99       30      5.0
1      Lápis   2.99       40      2.0
2     Caneta   5.99       70      4.0
3   Borracha   1.99       10      1.0
4  Corretivo   4.99       20      3.0

Métodos de Ranking

1. average (padrão) - Valor médio dos rankings empatados

In [25]:
import pandas as pd

In [26]:
valores = pd.Series([100, 200, 200, 300, 100])

In [28]:
ranking_average = valores.rank(method='average')
print('Ranking - Método "average":')
print(ranking_average)

Ranking - Método "average":
0    1.5
1    3.5
2    3.5
3    5.0
4    1.5
dtype: float64

2. min - Menor ranking para valores empatados

In [29]:
ranking_min = valores.rank(method='min')
print('Ranking - Método "min":')
print(ranking_min)

Ranking - Método "min":
0    1.0
1    3.0
2    3.0
3    5.0
4    1.0
dtype: float64

3. max - Maior ranking para valores empatados

In [30]:
ranking_max = valores.rank(method='max')
print('Ranking - Método "max":')
print(ranking_max)

Ranking - Método "max":
0    2.0
1    4.0
2    4.0
3    5.0
4    2.0
dtype: float64

4. first - Ordem de aparição

In [31]:
ranking_first = valores.rank(method='first')
print('Ranking - Método "first":')
print(ranking_first)

Ranking - Método "first":
0    1.0
1    3.0
2    4.0
3    5.0
4    2.0
dtype: float64

5. dense - Rankings sequenciais

In [32]:
ranking_dense = valores.rank(method='dense')
print('Ranking - Método "dense":')
print(ranking_dense)

Ranking - Método "dense":
0    1.0
1    2.0
2    2.0
3    3.0
4    1.0
dtype: float64