### Adicionar uma coluna

- A partir de uma coluna que existe

In [1]:
import pandas as pd

In [3]:
vendas_df = pd.read_excel('Vendas.xlsx')

In [4]:
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

In [7]:
vendas_df['Comissão'] = vendas_df['Valor Final'] * 0.05

In [8]:
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80

_Nesse caso, pegamos a coluna 'Valor Final' que já existia e alteramos para 'Comissão', e o seu valor foi multiplicado por 0.05 que corresponde a 5% do valor final._

* Criar uma coluna com valor padrão

In [9]:
vendas_df.loc[:, 'Imposto'] = 0

In [10]:
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80,0

_Selecionamos todas as linhas utilizando dois pontos (:), criamos uma nova coluna chamada 'Imposto' e atribuimos o valor 0 para todas as linhas._

### Adicionar uma linha

_Linhas de um complemento da base de dados_

In [39]:
vendas_dez_df = pd.read_excel('Vendas - Dez.xlsx')
# display(vendas_dez_df)

In [40]:
vendas_df = pd.concat([vendas_df, vendas_dez_df])
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0.0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0.0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN

### Excluir linhas e colunas

~> Excluindo uma coluna

In [41]:
vendas_df = vendas_df.drop('Imposto', axis=1)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN

_A coluna 'Imposto' foi excluída. É importante lembrar que sempre temos que passar o eixo (axis), 0 para linha e 1 para coluna._

~> Excluindo uma linha

In [42]:
vendas_df = vendas_df.drop(0, axis=0)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.40
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN

_A linha (índice) 0 foi excluída._

### Tratando valores vazios

- Deletar linhas/colunas vazias
- Deletar linhas que possuem valores vazios(NaN)
- Preencher valores vazios (média e último valor)

1 - Deletar linhas e colunas completamente vazias

In [ ]:
vendas_df = vendas_df.dropna(how='all')

_dropna(how='all') -> o comando dropna com o parâmetro how='all' serve para excluir linhas e colunas completamente vazias, e em caso de exclusão específica como, excluir apenas colunas OU linhas vazias, passamos o parâmetro axis=0 ou axis=1._

2 - Deletar linhas que possuem pelo menos um valor vazio

In [ ]:
vendas_df = vendas_df.dropna()

_Passamos apenas o dropna vazio, que é o formato padrão para excluir todas as linhas que possuem pelo menos um valor vazio._

3 - Preencher valores vazios

- _Preencher com a média da coluna_

In [43]:
vendas_df['Comissão'] = vendas_df['Comissão'].fillna(vendas_df['Comissão'].mean())
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.000000
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.400000
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.000000
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.550000
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.400000
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,20.743163
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,20.743163
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,20.743163
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,20.743163
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,20.743163

_Utilizamos o fillna() para preencher os valores vazios com um valor específico. Nesse modelo, preenchemos com a média da coluna 'Comissão'._

* _Preencher com o último valor_

In [ ]:
vendas_df = vendas_df.ffill()

_O ffill() vai preencher com o primeiro valor acima dele._

### Calcular indicadores

* Groupby

In [45]:
faturamento_produto = vendas_df[['Produto', 'Valor Final']].groupby('Produto').sum()
display(faturamento_produto)

                  Valor Final
Produto
Bermuda                364500
Bermuda Estampa        384644
Bermuda Linho          522405
Bermuda Liso           369107
Bermuda Listrado       394297
...                       ...
Tênis Estampa          617728
Tênis Linho            713538
Tênis Liso             644784
Tênis Listrado         610722
Tênis Xadrez           607355

[120 rows x 1 columns]

_O método groupby() permite agrupar dados por uma ou mais colunas e aplicar funções de agregação (como sum(), mean(), count() etc.) aos grupos formados._

_É muito útil para resumir dados agrupando-os por categorias ou características específicas e calculando estatísticas para cada grupo._

_Nesse exemplo, usamos groupby('Produto') para agrupar os dados pelo produto e, em seguida, calculamos a soma do valor final de cada produto._

* Value Counts

In [44]:
transacoes_loja = vendas_df['ID Loja'].value_counts()
display(transacoes_loja)

ID Loja
Rio Mar Recife                      5929
Shopping Vila Velha                 5729
Palladium Shopping Curitiba         5715
Iguatemi Campinas                   5683
Rio Mar Shopping Fortaleza          5588
Bourbon Shopping SP                 5546
Salvador Shopping                   5540
Shopping Eldorado                   5522
Center Shopping Uberlândia          5513
Shopping Morumbi                    5484
Shopping Iguatemi Fortaleza         5471
Norte Shopping                      5454
Passei das Águas Shopping           5445
Shopping SP Market                  5440
Ribeirão Shopping                   5433
Shopping Ibirapuera                 5416
Shopping União de Osasco            5415
Parque Dom Pedro Shopping           5352
Shopping Recife                     5321
Shopping Center Interlagos          5291
Iguatemi Esplanada                  5269
Shopping Barra                      5262
Novo Shopping Ribeirão Preto        5244
Shopping Center Leste Aricanduva    5243
Shopping Midway Mall                5132
Name: count, dtype: int64

_O método value_counts() conta a frequência de valores únicos em uma coluna específica._

_Esse método é útil para entender a distribuição de uma variável categórica ou identificar a quantidade de ocorrências de cada valor._

_Nesse exemplo, usamos o value_counts() para calcular a quantidade de transações realizadas em cada loja._

### Mesclar dois Dataframes (Procurar informações de um Dataframe em outro)

In [47]:
gerentes_df = pd.read_excel('Gerentes.xlsx')
# display(gerentes_df)

vendas_df = vendas_df.merge(gerentes_df)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Gerente
0,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.000000,Salvador
1,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.400000,Salvador
2,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.000000,Joana
3,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.550000,Joana
4,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.400000,Maria
...,...,...,...,...,...,...,...,...,...
136432,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,20.743163,Andressa
136433,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,20.743163,Andressa
136434,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,20.743163,Andressa
136435,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,20.743163,Fábio
136436,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,20.743163,Fábio

_Utilizamos o método merge para mesclar os Dataframes._