### Criando um Dataframe a partir de um dicionário

In [1]:
import pandas as pd

In [ ]:
# dataframe = pd.DataFrame() ~> Dataframe vazio

In [19]:
venda = {
    'Data': ['11/11/2024', '12/11/2024', '13/11/2024', '14/11/2024'],
    'Valor': [500, 300, 200, 150],
    'Produto': ['Feijão', 'Arroz', 'Café', 'Açúcar'],
    'Quantidade': [50, 70, 40, 65]
}

In [20]:
vendas_df = pd.DataFrame(venda)

In [21]:
display(vendas_df)

         Data  Valor Produto  Quantidade
0  11/11/2024    500  Feijão          50
1  12/11/2024    300   Arroz          70
2  13/11/2024    200    Café          40
3  14/11/2024    150  Açúcar          65